<h1>New Wallpaper</h1>

<div class='container'>
  <div class='col-xs-6 col-sm-5 col-md-5'
  <%= render 'form' %>

  <%= link_to 'Back', wallpapers_path %>
</div>
<div class='row'>
  <div class='col-xs-6 col-sm-6 col-md-6'>
    <div class='rules'>
      <h1 id='rules_head'>Rules for Posting</h1>
      </div>
    </div>
  </div>
</div>
