/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 a {
   color: gray;
 }

 a:hover {
   text-decoration: none;
   color: darkgray;

 }

 p {
   color: gray;
 }


 h1 {
   font-family: 'Sigmar One';
   color: gray;
   /*font-weight: bold;*/
   text-align: center;
   font-size: 4em;
 }

 .rules {
   background-color: gray;
   border: solid white;
   height: 25em;
   margin-top: 20px;
   font-size: .5em;
   border-radius: 10px;
 }


 #rules_head {
   color: black;
   font-family: sans-serif;
 }

 #name {
   color: gray;
   font-family: sans-serif;
 }

 .thumbnail {
   background-color:lightgray;
 }

.img_name {
  color: blue;
  font-style: bold;
  font-size: 1.8em;
  font-family: 'Sigmar One'
}

.img_desc {
  color: black;
  font-size: 1.3em;
  font-family: sans-serif;

}

.main {
  background-color: black;
}

img {
  border: solid black .5em;
}

html {
  background-color: black;
}

body {
  background-color: black;

}
